@font-face {
  font-family: ArcadeClassic;
  src: url(fonts/ARCADECLASSIC.TFF);
}

:root {
      --pink: #ff63b8;
      --placeholder: #999999;
}

header>div {
	padding:  50px;
	width: 33%;
}
header>div>a, header>div>img{
	vertical-align: middle;
	line-height: normal;
	padding: 10px;
	text-decoration: none;
}

header>div>a{
	color: var(--pink);
	font-family: Arial;
	font-size:  17px;
}

h1 {
	color: var(--pink);
	font-family:  Arial;
	margin:  0px;
	display: inline-block;
}

ul {
	margin:  0px;
	margin-left:  100px;
}
li {
	margin:  15px;
	padding: 15px;
	border: 1px solid #ff64b8;
	display: inline-block;
}

li:hover {
	box-shadow: 0 0 8px 0 var(--pink);
}

.container {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; 
  align-items: center;
}

#header-left, #header-left>*{
	float: left;
}
#footer-left {
	float: left;
}


#header-right, #header-right>* {
	float:  right;
}
#footer-right {
	float:  right;
}

#header-center, #footer-center {
	float:  none;
}

footer {
	background-color: #ff4b95;
}

footer>div {
	text-align: center;
	width: 33%;
}

footer>div>h1{
	color: white;
	font-family: ArcadeClassic;
	font-size: 55px;
	font-weight: normal;
	margin: 0 auto;
}

footer>div>a {
	color:  white;
	text-decoration: none;
	font-family: Arial;
	margin: 0 auto;
}

.footer-follow {
	padding: 5px;
}